# Some Data Types

## `Number`

#### integer `int`

In [1]:
3

3

In [2]:
-1

-1

In [3]:
int(3.9)

3

#### boolean: True / False `bool`

In [4]:
True

True

In [5]:
False

False

In [6]:
1 == 2

False

#### floating point `float`

In [7]:
2.3

2.3

In [8]:
2.0e3

2000.0

#### complex `complex`

In [9]:
1j

1j

In [10]:
1.2 + 0.3j

(1.2+0.3j)

## String

In [11]:
'Ich bin AB'

'Ich bin AB'

# Sequence
## `tuple`
- 

## `list`
- mutable

# list

#### Single object (number)

In [12]:
3

3

#### Single object (string)

In [13]:
'LMU'

'LMU'

#### 'list' of multiple objects (of same type)

In [14]:
[3,4]

[3, 4]

#### 'list' of multiple objects (of different types)

In [15]:
[3,'LMU']  # 'integer' and 'string' type objects are in a same 'list'-type object

[3, 'LMU']

#### Since 'list' is also an object, it can also be assigned into a variable

In [16]:
l = [3,4,5]

In [17]:
l

[3, 4, 5]

## An element of list can be accessed by 'indexing'

### Index starts from `0` (zero)

In [18]:
l[0]

3

In [19]:
l[1]

4

In [20]:
l[2]  # last index

5

### length of a list = number of elements

In [21]:
len(l)

3

In [22]:
# l[3]  # it would raises error: out-of-range-index

### negative index counts from the end

In [23]:
l[2]  # last index of the list (positive index)

5

In [24]:
l[-1]  # last index of the list (negative index)

5

## Unpacking of list

In [25]:
l = [3,4,5]

In [26]:
a, b, c = l

In [27]:
a

3

In [28]:
b

4

In [29]:
c

5

## Slicing

In [30]:
li = [3,5,7,9]

In [31]:
li

[3, 5, 7, 9]

### Using `i:j` expression

In [32]:
li[0:2]

[3, 5]

In [33]:
li[1:3]

[5, 7]

### Sliced squence is also a sequence

In [34]:
sliced_list = li[2:4]

In [35]:
sliced_list

[7, 9]

In [36]:
sliced_list[0]

7

# Tuple

### How to make `tuple`

In [37]:
tup = (3,4,5)

### Indexing `tuple`

In [38]:
tup[0]

3

In [39]:
tup[2]

5

### Comparing `tuple` with `list` : 'mutability' (changablity)
You can change element of `list` after it is created, but not for `tuple`

In [40]:
li = [2,'py',4.5]
tu = (2,'py',4.5)

#### Before changing

In [41]:
li

[2, 'py', 4.5]

In [42]:
tu

(2, 'py', 4.5)

#### Trying to change an element of list and tuple respectively

In [43]:
li[0] = 'changed'  # list's element can be changed

In [44]:
# tu[0] = 'changed'  # this would raise an error. Uncomment to run it.

# Arithmetic : $+\times-\div\cdots$

## Between numerics

#### Addition : `+`

In [45]:
3 + 4.3

7.3

#### Multiplication : `*`

In [46]:
2 * 3

6

#### Substraction : `-`

In [47]:
10 - 3

7

#### Division : `/`

In [48]:
10 / 3

3.3333333333333335

#### $a^n$ = `a**n`

In [49]:
3 ** 2

9

In [50]:
4 ** 0.5

2.0

#### quotient `//` and remainder `%`

In [51]:
10 // 3  # quotient

3

In [52]:
10 % 3  # remainder

1

## Between strings

In [53]:
'hallo' + 'oooo'

'hallooooo'

#### Not all object support all operators

In [54]:
# 'hdd' - 'dfj'  # this would raise an error. Uncomment to run it.

# `for` statement

In [55]:
l = [3,4,5]

In [56]:
print(l[0])
print(l[1])
print(l[2])

3
4
5

### Using `range()` function

In [57]:
for index in range(3):
    print(l[index])

3
4
5

In [58]:
for element in l:
    print(element)

3
4
5

### Indentation is important

In [59]:
# for element in l:
# print(element)

# `if` statement

### Conditional Statement : True / False

In [60]:
1 == 2

False

In [61]:
l[2] == l[-1]

True

In [62]:
same = (l[2] == l[-1])

In [63]:
same

True

In [64]:
type(same)

bool

### if statement

In [65]:
if same:
    print('they are same')

they are same

### Indentation is important

In [66]:
# if same:
# print('they are same')

In [67]:
if same:
    print('they are same')
else:
    print('they are not same')

they are same

---

# Function

### take [input] return [output]

## 1-in / 1-out

In [68]:
def square(x):
    x_square = x ** 2
    return x_square

In [69]:
square(3)

9

## 2-in / 1-out

In [70]:
def make_complex(real, imag):
    complex_number = real + imag * 1j
    return complex_number

In [71]:
make_complex(-0.2, 0.1)

(-0.2+0.1j)

#### There is a built-in function of same functionality

In [72]:
complex(-0.2, 0.1)

(-0.2+0.1j)

## 1-in / 2-out

In [73]:
def split_complex(complex_number):
    real = complex_number.real
    imag = complex_number.imag
    return real, imag  # multiple output is listed in comma-separated form
    # return (real, imag)  # same expression as above

In [74]:
results = split_complex(c)

In [75]:
results

(5, 0)

In [76]:
type(results)

tuple

In [77]:
result1, result2 = results

In [78]:
result1

5

In [79]:
result2

0

#### or

In [80]:
result1, result2 = split_complex(c)

In [81]:
def split_complex(complex_number):
    real = complex_number.real
    imag = complex_number.imag
    return real, imag  # multiple output is listed in comma-separated form

### Multiple outputs

# Using Module

### `import` _module_

In [82]:
import math

In [83]:
math.sqrt(4)

2.0

### `import` _module_ `as` _nickname_

In [84]:
import math as m

In [85]:
m.sqrt(4)

2.0

### `from` _module_ `import` _object_

In [86]:
from math import sqrt

In [87]:
sqrt(4)

2.0

# {method, attribute} $\in$ Object

### Almost everything is `object`

In [88]:
c = 1.2 - 0.1j  # a complex number

In [89]:
c

(1.2-0.1j)

### Every object can have its own _attribute_

In [90]:
c.real

1.2

In [91]:
c.imag

-0.1

### Every object can have its own _method_
#### [NOTE] a `method` of an object can be thought as a `function` which belongs to that object

In [92]:
c

(1.2-0.1j)

In [93]:
c.conjugate()

(1.2+0.1j)

### `Tab` after `.` to see possible methods

In [94]:
c.real

1.2