# Variable

## Assignment
Assignment is a way to generate a variable:

`a = 3`
- On right side: **value**
- On left side: **variable**

"a **value** `3` is assigned to the **variable** `a`"

In [1]:
a = 3

### Once you generated a variable (`a`), you can use it instead of its value (`3`)

In [2]:
a

3

In [3]:
a + 3

6

### Python always evaluate the right side first and assign it into the variable on the left side later

"the right side, `a + 3` is evaluated first" $\rightarrow$ `6`

"the evaluated **value**, `6` is assigned to the new **variable** `b` on the left side"

In [4]:
b = a + 3

In [5]:
b

6

# Some Data Types

## `Number`

#### integer `int`

In [6]:
3

3

In [7]:
-1

-1

In [8]:
int(3.9)

3

#### boolean: True / False `bool`

In [9]:
True

True

In [10]:
False

False

In [11]:
1 == 2

False

#### floating point `float`

In [12]:
2.3

2.3

In [13]:
2.0e3

2000.0

#### complex `complex`

In [14]:
1j

1j

In [15]:
1.2 + 0.3j

(1.2+0.3j)

## String

In [16]:
'Ich bin AB'

'Ich bin AB'

## List

#### Single object (number)

In [17]:
3

3

#### Single object (string)

In [18]:
'LMU'

'LMU'

#### 'list' of multiple objects (of same type)

In [19]:
[3,4]

[3, 4]

#### 'list' of multiple objects (of different types)

In [20]:
[3,'LMU']  # 'integer' and 'string' type objects are in a same 'list'-type object

[3, 'LMU']

#### Since 'list' is also an object, it can also be assigned into a variable

In [21]:
l = [3,4,5]

In [22]:
l

[3, 4, 5]

## An element of list can be accessed by 'indexing'

### Index starts from `0` (zero)

In [23]:
l[0]

3

In [24]:
l[1]

4

In [25]:
l[2]  # last index

5

### length of a list = number of elements

In [26]:
len(l)

3

In [27]:
# l[3]  # it would raises error: out-of-range-index

### negative index counts from the end

In [28]:
l[2]  # last index of the list (positive index)

5

In [29]:
l[-1]  # last index of the list (negative index)

5

## Unpacking the list

In [30]:
l = [3,4,5]

In [31]:
a, b, c = l

In [32]:
a

3

In [33]:
b

4

In [34]:
c

5

## Slicing

In [35]:
li = [3,5,7,9]

In [36]:
li

[3, 5, 7, 9]

### Using `i:j` expression

In [37]:
li[0:2]

[3, 5]

In [38]:
li[1:3]

[5, 7]

### Sliced squence is also a sequence

In [39]:
sliced_list = li[2:4]

In [40]:
sliced_list

[7, 9]

In [41]:
sliced_list[0]

7

## Tuple

### How to make `tuple`

In [42]:
tup = (3,4,5)

### Indexing `tuple`

In [43]:
tup[0]

3

In [44]:
tup[2]

5

### Comparing `tuple` with `list` : 'mutability' (changablity)
You can change element of `list` after it is created, but not for `tuple`

In [45]:
li = [2,'py',4.5]
tu = (2,'py',4.5)

#### Before changing

In [46]:
li

[2, 'py', 4.5]

In [47]:
tu

(2, 'py', 4.5)

#### Trying to change an element of list and tuple respectively

In [48]:
li[0] = 'changed'  # list's element can be changed

In [49]:
# tu[0] = 'changed'  # this would raise an error. Uncomment to run it.

# Arithmetic : $+\times-\div\cdots$

## Between numerics

#### Addition : `+`

In [50]:
3 + 4.3

7.3

#### Multiplication : `*`

In [51]:
2 * 3

6

#### Substraction : `-`

In [52]:
10 - 3

7

#### Division : `/`

In [53]:
10 / 3

3.3333333333333335

#### $a^n$ = `a**n`

In [54]:
3 ** 2

9

In [55]:
4 ** 0.5

2.0

#### quotient `//` and remainder `%`

In [56]:
10 // 3  # quotient

3

In [57]:
10 % 3  # remainder

1

## Between strings

In [58]:
'hallo' + 'oooo'

'hallooooo'

#### Not all object support all operators

In [59]:
# 'hdd' - 'dfj'  # this would raise an error. Uncomment to run it.

## Between different types of objects

##### string and integer

In [60]:
'hi' * 3  # it duplicates a given string

'hihihi'

In [61]:
3 * 'hi'  # they commute

'hihihi'

# `for` statement

In [62]:
l = [3,4,5]

In [63]:
print(l[0])
print(l[1])
print(l[2])

3
4
5

### Using `range()` function

In [64]:
for index in range(3):
    print(l[index])

3
4
5

In [65]:
for element in l:
    print(element)

3
4
5

### Indentation is important

In [66]:
# for element in l:
# print(element)

# `if` statement

### Conditional Statement : True / False

In [67]:
1 == 2

False

In [68]:
l[2] == l[-1]

True

In [69]:
same = (l[2] == l[-1])

In [70]:
same

True

In [71]:
type(same)

bool

### if statement

In [72]:
if same:
    print('they are same')

they are same

### Indentation is important

In [73]:
# if same:
# print('they are same')

In [74]:
if same:
    print('they are same')
else:
    print('they are not same')

they are same

---

# Function

### take [input] return [output]

## 1-in / 1-out

In [75]:
def square(x):
    x_square = x ** 2
    return x_square

In [76]:
square(3)

9

## 2-in / 1-out

In [77]:
def make_complex(real, imag):
    complex_number = real + imag * 1j
    return complex_number

In [78]:
make_complex(-0.2, 0.1)

(-0.2+0.1j)

#### There is a built-in function of same functionality

In [79]:
complex(-0.2, 0.1)

(-0.2+0.1j)

## 1-in / 2-out

In [80]:
def split_complex(complex_number):
    real = complex_number.real
    imag = complex_number.imag
    return real, imag  # multiple output is listed in comma-separated form
    # return (real, imag)  # same expression as above

In [81]:
results = split_complex(c)

In [82]:
results

(5, 0)

In [83]:
type(results)

tuple

In [84]:
result1, result2 = results

In [85]:
result1

5

In [86]:
result2

0

#### or

In [87]:
result1, result2 = split_complex(c)

In [88]:
def split_complex(complex_number):
    real = complex_number.real
    imag = complex_number.imag
    return real, imag  # multiple output is listed in comma-separated form

### Multiple outputs

# Using Module

### `import` _module_

In [89]:
import math

In [90]:
math.sqrt(4)

2.0

### `import` _module_ `as` _nickname_

In [91]:
import math as m

In [92]:
m.sqrt(4)

2.0

### `from` _module_ `import` _object_

In [93]:
from math import sqrt

In [94]:
sqrt(4)

2.0

# {method, attribute} $\in$ Object

### Almost everything is `object`

In [95]:
c = 1.2 - 0.1j  # a complex number

In [96]:
c

(1.2-0.1j)

### Every object can have its own _attribute_

In [97]:
c.real

1.2

In [98]:
c.imag

-0.1

### Every object can have its own _method_
#### [NOTE] a `method` of an object can be thought as a `function` which belongs to that object

In [99]:
c

(1.2-0.1j)

In [100]:
c.conjugate()

(1.2+0.1j)

### `Tab` after `.` to see possible methods

In [101]:
c.real

1.2